{% extends "layout.twig" %}

{% block css %}
    <style rel="stylesheet">
        .s{
            width: 70em;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="flex-center position-ref full-height">
        {% if result %}
            <div class="alert alert-success">Listado guardado!</div>
        {% endif %}
        <div class="container col-md-12">
            <form method="post">
                <section class="container">
                    <h2>Registro rubrica</h2>
                    <div class="col-md-12 row">
                        <br>
                        <div class="col-md-6">
                            <label for="modulo">Estado</label>
                            <select name="estado" class="form-control" required>
                                <option value="">seleccione Estado</option>
                                <option id="estado" name="estado" value="1">Activo</option>
                                <option id="estado" name="estado" value="2">Inactivo</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre">Nombre Rubrica Auto-Evaluación</label>
                            <input type="text" name="nombre" id="nombre" class="form-control" required>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <label for="alumnos">Preguntas Auto-Evaluación</label>
                        <br>
                        <br>
                        <table>
                            {% for autoevaluacion in autoevaluacion %}
                                <tr>
                                    <td><input type="checkbox" name="criterioA[]" value="{{ autoevaluacion.id }}"  id="id" ></td>
                                    <td class="s"><input type="text" name="criterio[]" class="form-control" id="{{ autoevaluacion.id }}" value="{{ autoevaluacion.nombre }}" readonly></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </section>
                <br>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-lg btn-block">Guardar Lista</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
            <br>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

{% endblock %}