{% extends "layout.twig" %}

{% block content %}
    <div class="flex-center position-ref full-height">
        <div class="container col-md-8">
            {% if result %}
                <div class="alert alert-success">Docente Creado!</div>
            {% endif %}
            <form method="post">
                <section class="container">
                <label for="rut">RUT</label>
                <input type="text" name="rut" class="form-control" id="rut" required>
                <label for="nombre">Nombre Completo</label>
                <input type="text" name="nombre" class="form-control" id="nombre" required>
                <label for="email">Correo</label>
                <input type="email" name="email" class="form-control" id="email" required>
                <label for="sede">Sede</label>
                <select name="sede" id="sede" class="form-control">
                    {% for sede in sede %}
                        <option name="sede" id="{{ sede.id }}" value="{{ sede.id }}">{{ sede.nombre }}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="row col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input class="btn btn-primary btn-block" id="cargar" type="submit" value="Cargar">
                    </div>
                    <div class="col-md-4"></div>
                </div>
                </section>
            </form>
        </div>
    </div>
{% endblock %}