{% extends "layout.twig" %}

{% block content %}
    <div class="flex-center position-ref full-height">
        <div class="container col-md-12">
            <form action="">
                <section class="container">
                <table class="table">
                    <h1>Docentes Registrados</h1>
                    <br>
                    <thead class="thead-dark">
                    <tr>
                        <th>RUT</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Sede</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for docente in docente %}
                        <tr>
                            <th scope="row">{{ docente.id }}</th>
                            <td>{{ docente.nombre }}</td>
                            <td>{{ docente.email }}</td>
                            {% if(docente.sede_id==1) %}
                                <td>Concepción</td>
                            {% elseif(docente.sede_id==2) %}
                                <td>Chillán</td>
                            {% elseif(docente.sede_id==3) %}
                                <td>Los Ángeles</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </section>
            </form>
        </div>
        <div class="container col-xs-12">
        </div>
    </div>
{% endblock %}