{% extends "layout.twig" %}

{% block content %}
    <div class="container col-md-7">
        {% if result %}
            <div class="alert alert-success">Contraseña actualizada!</div>
        {% endif %}
        <form method="post">
            <section class="container">
            <label for="rut">RUT</label>
            <input type="text" name="rut" class="form-control" id="rut" disabled value="{{ docente.id }}">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control" id="nombre" disabled value="{{ docente.nombre }}">
            <label for="email">Correo</label>
            <input type="text" name="email" class="form-control" id="email" disabled value="{{ docente.email }}">
            <label for="password">Password Actual</label>
            <input type="password" name="password" class="form-control" id="password" required>
            <label for="npassword">Password Nueva</label>
            <input type="password" name="npassword" class="form-control" id="npassword" required>
            <label for="cpassword">Confirme Password</label>
            <input type="password" name="cpassword" class="form-control" id="cpassword" required>
            <br>
            <div class="row col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input class="btn btn-primary btn-block" type="submit" value="Guardar">
                </div>
                <div class="col-md-4"></div>
            </div>
            <br>
            </section>
        </form>
    </div>
{% endblock %}